#category-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0 , 0.3);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #cc75e77e;
}

.categories {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
}

.categories > .caption {
    grid-column-start: 1;
    grid-column-end: 6;
    font-weight: 900;
    font-size: 1.5em !important;
    width: 100%;
    margin: 10px;
    height: fit-content;
}

.categories label:not(:first-child) {
    font-weight: normal;
    align-items: center;
    height: auto;
    margin-bottom: 10px;
    margin-left: 5px;
}

.fcategory {
    padding-left: 50px;
    width: fit-content;
}

#category-content > button {
    margin-top: 10px;
    align-self: center;
    border-radius: 10px;
    width: max-content;
    padding: 5px 20px;
    border: none;
    font-weight: 900;
}